apiVersion: apps/v1
kind: Deployment
metadata:
  name: springboot
  labels: springboot
    
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: springboot
  template:
    metadata:
      labels:
        labels:
          app: springboot
    spec:
      containers:
        - name: app
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: 8080
          readinessProbe:
            httpGet:
              path: /health
              port: 8080
          livenessProbe:
            httpGet:
               path: /health
               port: 8080